# 服务运行端口
PORT=9700

# 服务注册名称
SERVICE_NAME=wisepen-note-collab-service

PROFILE=dev

# Nacos 服务器地址
NACOS_SERVER_ADDR=wisepen-dev-server:8848

# Nacos 命名空间
NACOS_NAMESPACE=public
NACOS_GROUP=DEFAULT_GROUP

NACOS_USERNAME=nacos
NACOS_PASSWORD=oriole004

# 宿主机网络特异性配置
IGNORED_INTERFACES=VMnet.*,vEthernet.*,docker0
PREFERRED_NETWORKS=10